<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">Formulaire de candidature</div>
          <div class="form">
            <script
              type="text/javascript"
              src="https://form.jotform.com/jsform/222754288777068"
            ></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
