<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
    <!-- TODO: robots -->
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="content">
        <div class="main">
          <div class="title">Bienvenue sur le site des #Vieux</div>
          <div class="subtitle">Profitez de nos serveurs Fun/FFA 128Ticks</div>
          <div class="paragraph">
            Bienvenue sur le site des Vieux-de-la-Vieille, nous sommes une team
            Counter Strike Source & Global offensive, venez vous amusez dans la
            joie et la bonne humeur !
          </div>
          <div class="menu">
            <a
              class="button"
              href="https://steamcommunity.com/groups/vieuxfans"
              target="_blank"
              rel="noopener noreferrer"
              >Communauté steam</a
            >
            <a class="button bold" href="devenir-admin-serveur.html"
              >Candidature</a
            >
          </div>
        </div>
        <div class="slider-global">
          <div class="slider-wrapper">
            <div class="slider"></div>
          </div>
          <div class="arrow-wrapper">
            <div class="arrow left">&#60;</div>
            <div class="arrow right">&#62;</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
