<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">Règle du serveur antiroxx fun - RTV</div>
          <div class="paragraph">
            Réglement Ba_jail #1<br /><br />

            Ce qui va suivre est une ébauche des possibles règles applicables
            sur le serveur Ba_jail .. A ce titre cela n'est qu'une base pour
            l'améliorer en fonction de vos idées, donc n'hésitez pas à commenter
            ...
            <br /><br />
            Le Ba_jail:
            <br /><br />
            Durant un round de Ba_jail, les prisonniers(Terroristes) doivent,
            par définition se rebeller afin d'éliminer l'ensemble des
            gardiens(les antiterroristes). Et ceci à leur risques et périls.
            <br /><br />
            Cependant, des règles existent, et doivent être respectées, par les
            gardiens comme par les terroristes.
            <br /><br />
            Tout joueur sur notre serveur se doit de connaître ces règles.
            <br /><br />
            Sur notre serveur, pas d'insultes, de flood écrit ou oral, de tags
            pornographiques, de racisme, de publicité, ou tout autre
            comportement pouvant nuire à la bonne ambiance et au fonctionnement
            du serveur.
            <br /><br />
            Ce mode de jeu étant un mode fun, le fair-play est VIVEMENT
            SOUHAITABLE.
            <br /><br />
            Les Travers, Sont autorisé UNIQUEMENT pour les terroristes.
            <br /><br />
            En l'occurrence le travers garage, travers grande porte foot.
            <br /><br />
            Les vitres dans le foot ne sont pas considérer comme un travers
            (faut pas abuser non plus) !
            <br /><br />
            TRAVERS FUMI INTERDITE POUR LES DEUX EQUIPE CT/Terro
            <br /><br />
            Lorsqu'un ADMIN parle, merci de ne pas lui couper la parole !
            <br /><br />
            De même, le voteban en présence d'admin est interdit, merci
            d'utiliser le « /plainte » en cas de problème à résoudre.
            <br /><br />
            La carte blanche autorise le capitaine à désigner UN SEUL gardien
            pour qu'il puisse allez chercher le terroriste hostile et le
            tuer.(Obligatoirement 2 prisionniers à l'odre).
            <br /><br />
            Le terroriste à le droit de se rendre et de revenir vite à l'ordre
            donner. Néamoins si vous tuer un gardien et que vous rendez
            immédiatement vous serez tué sans sommation(dans les 5 secondes à
            venir, sinon ça serais trop facile pour les prisonniers.
            <br /><br />
            La camp jail sur serveur est passable de slay.(si récidive slay de
            nouveau puis kick et enfin ban de 30 minutes).
            <br /><br />
            Durant un QL, si le dernier terroriste n'a pas plus de 50 de dégats
            il sera dans l'obligation de refuser sa DV.
            <br /><br />
            LA CARTE:
            <br /><br /><br />

            La carte est délimitée en différentes zones :
            <br /><br />
            -zone Terroriste:
            <br /><br />
            Une zone Terroriste est une zone réservée aux prisonniers. Si un CT
            venait à y entrer, il n'y pourrai pas s'y défendre. Un terroriste
            attaquant un CT dans une zone terroriste ne pourra pas être tué pour
            cette action (mais pour l'utilisation d'une arme....etc....mais pas
            pour l'agression du CT). Ces zones sont :<br />
            <ul>
              <li>Les cellules (jails).</li>
              <li>L'isoloir et son toit.</li>
              <li>La cage centrale et son toit.</li>
              <li>Le Sauna.</li>
              <li>La cuisine.</li>
              <li>L'eau de la piscine.</li>
              <li>L'intérieur du terrain de foot.</li>
              <li>L'intérieur de la camionnette.</li>
              <li>Les douches.</li>
              <li>Les conduits ainsi que les téléporteurs.</li>
              <li>Au dessus de la vitre de la zone du foot.</li>
            </ul>
            <br />

            -zone CT :
            <br /><br />
            Une zone CT est une zone réservée aux gardiens. Si un prisonnier se
            trouve à l'intérieur de l'une de ces zones, il sera automatiquement
            déclaré hostile et pourra être abattu à vue. Ces zones sont :
            <br />
            <ul>
              <li>Les toits des cellules (jails).</li>
              <li>La passerelle allant du mur invisible à la piscine.</li>
              <li>
                Échelle allant de la passerelle à la zone fermé de la piscine.
              </li>
              <li>Zone fermée de la piscine.</li>
              <li>Les hauteurs du foot.</li>
              <li>
                Le couloir de l'armurerie mur invisible compris.(interdiction au
                ct de camper au mur invisible, mais autorisé durant un QL.
              </li>
              <li>L'armurerie avant l'ouverture des jails.*</li>
              <li>Le Toit de l'infirmerie et du sauna.</li>
            </ul>
            <br />

            -zone neutre :
            <br /><br />
            Les zones neutres sont accessibles à tous. Elles ne confèrent aucun
            avantage à un camp. Ces zones sont :<br />

            <ul>
              <li>L'infirmerie.</li>
              <li>La bibliothèque (jail VIP).</li>
              <li>Le contour du foot.</li>
              <li>Le contour de la piscine.</li>
              <li>Les plongeoirs.</li>
              <li>Le garage.</li>
              <li>Les vestiaires.</li>
              <li>Les échelles.</li>
              <li>Le dessus de la fontaine.</li>
              <li>Le reste de la carte.</li>
              <li>Les pieds de la fontaine</li>
            </ul>
            <br />

            *ATTENTION !!!<br /><br />

            1.En début de partie, l'armurerie est une zone CT tant qu'il y a au
            moins 2 CTs à l'intérieur. Le dernier ct à l'intérieur de
            l'armurerie sera considéré en retard et ne pourra donc pas se
            défendre (Pour tuer le terro à l'intérieur de l'armurerie il faudra
            que les Antiterroristes se place derrière la fontaine pour pouvoir
            le tuer)
            <br /><br />
            2.Le !roll est désactivé pendant la dv.
            <br /><br /><br />

            Les Ordres.
            <br /><br /><br />

            Avant l'ouverture des cellules, les anti-terroriste le droit
            d'ouvrir le garage ainsi que la cuisine mais n'ont pas le droit d'y
            rentrer.
            <br /><br />
            Le capitaine doit donner un ordre. Cet ordre doit être donné à
            l'oral de façon clair.(odre écrit INTERDIT)
            <br /><br />
            Il devra être répété au minimum 2 fois voire 3 fois.Le capitaine ne
            pas dire au prisonniers de sortir à son TOP.
            <br /><br />
            Si un gardien voit un prisonnier ne respectant pas cet ordre
            général, il sera autorisé à l'abattre sans sommations.
            <br /><br />
            Cependant, un gardien doit toujours avoir un visuel dégagé sur
            l'ordre, il lui est donc interdit de se mettre hors de vue ou même
            de poursuivre un prisonnier s'étant échappé.
            <br /><br />
            Exception est faites lorsqu'il ne reste que 2 à l'ordre le dernier
            et un "rebelle"..Dans ce cas le capitaine peut donner "carte
            blanche" à l'oral pour autoriser un 1Ct à allez le chercher, mais le
            ct ne peut pas utiliser les passages secret ou les conduits.(hors
            DCT)
            <br /><br />
            Les ordres sont applicables dès l'ouverture des jails.
            <br /><br />
            Si les cellules s'ouvrent automatiquement sans que les gardiens
            n'aient donné d'ordre, alors il y a Quartier Libre.
            <br /><br />
            Si un prisonnier arrive à ouvrir les cellules, c'est alors un
            Quartier Libre.(le terro qui, aura ouvert les jails ne pourra pas
            être abbatus.
            <br /><br />
            Les Quartiers Restreints existent sur notre serveur. Néanmoins il
            est demandé de ne pas en abuser(Max 2 Qr d'affiler).SI IL Y A UN 3
            se sera donc un slay collectif des Gardiens.
            <br /><br />
            Se rendre toujours au même endroit ou faire toujours le même jeu
            peut devenir lassant, merci aux gardiens de changer leurs ordres
            ainsi que les jeux.
            <br /><br />
            Notre serveur applique la zone de cut : si un CT se trouve entre un
            Terroriste et l'ordre, et que celui-ci donne un couteau de couteau
            au gardien, il ne pourra pas être poursuivi pour cela. On considère
            alors que le CT a recherché le cut.
            <br /><br />
            Attention aucune zone de cut avant l'ouverture des jails !!!
            <br /><br />
            Bunny interdit (deux saut maximum)<br />
            Les Sommations.<br /><br /><br />

            Les gardiens doivent obligatoirement faire des sommations aux
            prisonniers avant de les tuer.<br />
            Cependant, il existe quelques circonstances dans lesquelles, le
            gardien a le droit d'abattre le prisonnier sans sommations.<br />
            Ces circonstances sont :<br />

            <ul>
              <li>
                Lorsqu'un prisonnier n'est pas a l'ordre, n'y va pas ou ne le
                respecte pas.
              </li>
              <li>
                Lorsqu'un prisonnier a blessé un gardien il y a moins de 5
                secondes (sauf exception).
              </li>
              <li>Lorsqu'un prisonnier tient une arme légère.</li>
              <li>Lorsqu'un prisonnier passe par une zone ct.</li>
            </ul>
            <br />

            Exception : Dans tout les autres cas, les gardiens doivent faire des
            sommations à trois reprises. Si le prisonnier ne coopère pas, il
            peut alors être abattu.
            <br /><br />
            Les règles Anti-terroristes.
            <br /><br /><br />

            <ul>
              <li>
                Les gardiens n'ont pas le droit de se défendre dans une zone
                Terroriste.
              </li>
              <li>
                Sans motif valable, les gardiens ne peuvent tuer ou blesser un
                prisonnier.
              </li>
              <li>
                Les gardiens n'ont pas le droit d'envoyer des grenades dans une
                zone Terroristes ou dans un conduit sauf si :
              </li>
              <li>
                <ul>
                  <li>Ils font les sommations 3 fois avant de les lancer.</li>
                  <li>
                    Il n'y a que des Terroristes hostiles qui refuse de se
                    rendre dans la zone.
                  </li>
                </ul>
              </li>
              <li>
                Les gardiens n'ont pas le droit de retourner à l'armurerie après
                en être sortis.(passable de slay)
              </li>
              <li>
                Les gardiens n'ont pas le droit de camper(stationner de façon
                statique et durable)
              </li>
              <li>
                Les gardiens n'ont pas le droit de tuer un prisonnier s'il lance
                ou tient une grenade en main. Sauf si l'ordre l'interdit, ou que
                la grenade blesse un gardien .(après avoir toucher le ou les Cts
                ont jusqu'à 5 secondes pour pouvoir les tuers)
              </li>
              <li>
                Les gardiens ne doivent pas donner d'armes aux prisonniers, sous
                aucun prétexte.(attention une soma orale puis ban)
              </li>
              <li>
                Les gardiens n'ont pas le droit d'utiliser des armes réservés au
                prisonnier avant que celle-ci n'est été prise par un prisonnier
                (armes cachées).(hors deagle magique si il se trouve en zone ct,
                en l'occurrence l'armurie).
              </li>
              <li>
                Les gardiens n'ont pas le droit de faire sortir les prisonniers
                de leurs cellules à un « Top » ou un moment donné. L'ouverture
                des jails corresponds à leurs sorties.
              </li>
              <li>
                Les gardiens n'ont pas le droit de donner des ordres mettant
                sciemment en danger la vie des prisonniers (rester en apnée sous
                l'eau....)
              </li>
              <li>
                Les gardiens n'ont pas le droit de tirer ou de donner un coup de
                couteau dans le ballon.(une somation orale, slay puis ban)
              </li>
              <li>
                Les gardiens n'ont pas le droit d'attendre les prisonniers à la
                sortie de l'armurerie. Sauf si l'ordre est : foot, garage,
                cuisine, isoloir, infirmerie ou encore sauna. Dans tout les
                autres cas, les gardiens ne doivent pas dépasser la ligne
                imaginaire entre l'isoloir et le sauna.
              </li>
              <li>
                Un gardien ne peut pas demander à un prisonnier de jeter sa
                grenade ou sa bombe.(odre abusif)
              </li>
              <li>
                Le jet d'une fumigène ou d'une aveuglante n'est pas un acte
                punissable.
              </li>
              <li>
                Le gardiens n'ont pas le droit de camper derrière une sortie de
                Téléporteur ou un conduit.(soma orale, slay puis ban)
              </li>
              <li>
                Les gardiens ont le droit de donner carte blanche à partir du
                moment ou il y a 3 terroriste en vie(2 à l'ordre et 1 hostile)
              </li>
              <li>
                Les gardiens peuvent faire une attente de DV en Quartier libre à
                condition de laisser au prisonniers 30 secondes pour pouvoir
                s'échapper.
              </li>
            </ul>
            <br /><br />

            Règles Terroristes:
            <br /><br /><br />

            <ul>
              <li>
                Les prisonniers ne doivent pas parler avant l'ouverture des
                cellules.(NE PAS SPAM UNE FOIS L'OUVERTURE DES JAILS)
              </li>
              <li>
                Les prisonniers n'ont pas le droit de donner des ordres au micro
                afin de faire croire qu'un gardien l'a donné.
              </li>
              <li>
                Les prisonniers doivent se taire pendant les consignes d'un jeu.
              </li>
              <li>
                Les demandes d'infirmerie se font à l'écrit afin de ne pas flood
                à l'oral lorsqu'il y a beaucoup de monde.
              </li>
              <li>
                Les prisonniers n'on pas le droit d'utiliser la commande !rend
                pendant un quartier libre ou un quartier restreint.(vous serais
                soit tué par un gardien soit slay).
              </li>
              <li>
                Les prisonniers, une fois la commande !rend utiliser le
                terroriste ne peut pourra plus se rebeller sous peine de
                slay.(de toute façon vous ne pourrais plus ramasser d'arme). car
                cela ne sert plus à rien sachant que il ne pourra plus prendre
                d'arme.
              </li>
            </ul>
            <br /><br />

            Les différents jeux.
            <br /><br /><br />

            Le guncheck : Lors d'un guncheck, le gardien doit préciser le
            déroulement du guncheck ainsi que la position :<br />
            -Un guncheck se fait obligatoirement debout, sans bouger, sans
            donner de coups de couteaux, sans tagger, sans sauter.(La Parole est
            autorisé ainsi que la lampe torche). Le guncheck dure maximum 45
            secondes et ne peut être fait qu'une seule fois par round.(le
            gunshek annule tous autre jeu)<br /><br />

            Le capitaine à le droit à une feinte c'est à dire, exemple: vous
            pouvez vous retourner alors que le gunchek n'est pas terminer.<br />
            IDEM pour l'ordre continuel.<br />
            Attention : Le guncheck ne consiste pas a faire du « frag » mais à
            vérifié le port d'arme.<br />
            <br /><br />

            Le jeu du triangle:<br />
            Le jeu du triangle est autorisé sur notre serveur. Il consiste à ce
            que les prisonniers s'éclairent de leurs lampes torches ainsi que un
            cout de couteau vers le prisonnier de leur choix.<br />
            une fois placé en triangle.<br />

            Le Terroriste ayant le plus de lampes(ou coup de couteau) alignées
            sur lui sera déclaré perdant,ou choisie pour désigner un autre
            terroriste à abattre.<br />
            <br />
            L'attente de DV :<br /><br /><br />

            L’attente de DV est interdite. Les prisonniers doivent
            obligatoirement tenter de se rebeller en cas d'absence d'ordres, de
            quartier restreints ou de Quartier Libre.<br />
            Une personne respectant les ordres ne peut pas être considérer en
            attente de DV, sauf si l'ordre est « cage ».<br />
            Les gardiens doivent indiqués à quel moment ils considéreront
            l'attente de DV des prisonniers. Ils doivent laisser un minimum 30
            secondes pour leur permettre de s'échapper.<br />
            <br />
            La Dernière Volonté:(DV)<br /><br /><br />

            Lorsqu'il ne reste plus qu'un prisonnier en vie, les gardiens
            restants doivent lui demander s'il prend ,ou non, sa dernière
            volonté.<br />
            Ils doivent obligatoirement lui faire le décompte « DV 1 fois, DV 2
            fois, DV3 fois » avant de pouvoir l'abattre. Ou, le gardien peux
            demander au dernier prisonnier en vie de se rendre à l'armurie.<br />
            Une fois le prisonnier à l'intérieur et que les portes se ferme, il
            est considéré hostile.<br />
            Le dernier prisonnier peut , soit l'accepter(en tapant « !dv » ou en
            l'acceptant via le menu qui s'affiche), soit la refuser en
            prévenant.<br />
            Il est plus fair-play d'annoncer sa rébellion.<br />
            Les DV disponibles sont celles sur la liste. Le descriptif de chaque
            DV est sur notre forum.<br />
            La Dernière Volonté est prioritaire sur le Dernier CT.<br /><br />

            Le Dernier CT :<br /><br /><br />

            Lorsqu'il est le dernier des antiterroristes à être encore en vie,
            le gardien a le droit d'abattre à vue tous les prisonniers, même les
            innocents, sans sommations.<br />
            Toutes les zones deviennent DES ZONES CT à ce moment-là.(SAUVE QUI
            PEUT). Il a aussi le droit de prendre les téléporteurs ainsi que les
            conduits.<br />
            Cependant, il n'a pas le droit de camper.(armurie infirmerie
            etc..)<br /><br />

            La règle du DCT est applicable que si, au début du round, il y avait
            3 gardiens en vie minimum et que les jails ont étaient déjà
            ouvertes.<br />
            Le DCT ne conte pas si il y a eu un slay(d'un Gardien), l'ordre
            tiendra toujours.<br /><br /><br />

            Le Deagle Magique : (EN CONSTRUCTION)<br /><br /><br />

            Le Deagle Magique n'a pas a être utilisé lors d'une DV, même
            brochette.(Bannissable !!)<br />
            Les gardiens n'ont pas le droit de le supprimer.(!rw)<br />
            Les gardiens n'ont pas le droit de le prendre en zone Terroriste.
            Exemple une grenade dans la direction du deagle pour le faire bouger
            et donc changer sa zone.(soma orale, slay puis ban)<br /><br />

            Truc & Astuce :<br /><br /><br />

            Prisonniers : vous pouvez vous rendre grâce à «!rend ».<br />
            La commande pour le shop est : «!store ».<br /><br />

            EXEMPLE:<br />
            Pour bind une touche, aller dans votre console, taper bind
            "latouchedetonchoix" "say"<br /><br />

            Par exemple : pour le « !rend »<br />
            bind "x""say!rend"<br /><br />

            Ps: Ces règles ne sont en aucun cas permanente et peuvent être
            changée à tout moment.<br />
            Cordialement.<br />
            TheRampage.<br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
