<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">Règle du serveur antiroxx fun - RTV</div>
          <div class="paragraph">
            Merci de respecter les règles du serveur / Please respect the server
            rules:<br /><br />
            <ul>
              <li>Pas de camp spawn / No camp spawn</li>
              <li>Pas de TK / No TK</li>
              <li>Bunny interdit / Bunny forbidden</li>
              <li>
                Les insultes et le manque de respect est interdit / Insults and
                disrespect is prohibited
              </li>
              <li>
                Jouer l’objectif est obligatoire / Playing the bomb is mandatory
              </li>
              <li>Le grade la luciole se tue uniquement à la HE ou cut</li>
              <li>Pas d'info une fois mort</li>
            </ul>
            <br />
            La campe est autorisé sur les maps AIM et AWP Bon jeux et amusez
            vous ! Good game and have fun !
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
