<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">Règles du serveur furien.</div>
          <div class="paragraph">
            <p>
              Le serveur Furien est avant tout un mode fun donc pas de prises de
              têtes ou d'insultes. L'important est que tout le monde s'amuse.
            </p>

            <h3>Explications.</h3>

            <ul>
              <li>
                Le furien peut se rendre invisible en restant immobile (compté
                une demi-seconde avant l'invisibilité totale). Si vous bougez
                vous deviendrez visible.
              </li>
              <li>
                Vous pouvez vous accrocher sur le mur en appuyant sur la touche
                par défaut "E" et ensuite appuyé sur votre touche de saut pour
                vous libérer.
              </li>
              <li>
                Une fois que vous avez tué un ct vous aurez accès à son arme
                mais si vous avez votre arme lourde dans votre inventaire (dans
                votre dos) vous serez toujours invisible, mais votre arme sera
                visible.
              </li>

              <li>
                Vous avez accès à la commande !shop pour accéder aux différents
                bonus. Vous gagnez des points uniquement en jouant sur le
                serveur (kills, amorçage de bombe, etc..).
              </li>
            </ul>

            <h3>Règles furiens (terroristes).</h3>

            <ul>
              <li>
                Pas de camp abusive, si vous êtes en capacité de planter la
                bombe faite-le.
              </li>
            </ul>

            <h3>Règles anti-terroristes.</h3>

            <ul>
              <li>Pas de camp abusive.</li>
              <li>
                Accès aux grenades fumigènes qui permettent de rendre immobiles
                les furriens pendant 5 secondes au moins et aux grenades flashs.
              </li>
              <li>
                Vous avez également à la commande !shop qui vous donne accès à
                des bonus (uniquement durant le round).
              </li>
            </ul>

            <h3>Trucs et astuces.</h3>

            <ul>
              <li>
                Pour bind une touche taper dans la console bind "la touche de
                ton choix" "say !shop". Attention à ne pas oublier pas les "
                pendant le bind.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
