<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">Règle du serveur serveur multimaps fun 16K$</div>
          <div class="paragraph">
            Merci de respecter les règles du serveur / Please respect the server
            rules:<br /><br />
            <ul>
              <li>Pas de camp spawn / No camp spawn</li>
              <li>
                Pas de camp abusive / No camp abusive ( Sinon l'anticamp se met
                en route )
              </li>
              <li>
                Jouer l’objectif est obligatoire / Playing the bomb is mandatory
              </li>
              <li>
                Couvrir la bombe quand elle est posée n’est pas obligatoire /
                Covering the bomb when it is laid is not mandatory
              </li>
            </ul>
            <br />

            Bon jeu et amusez vous ! Good game and have fun !
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
