<!DOCTYPE html>
<html lang="fr">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <div class="background">
      <img src="images/background.webp" />
      <div class="background-fade"></div>
    </div>
    <div class="wrapper">
      <module href="/components/header.html"></module>
      <div class="box-center">
        <div class="box">
          <div class="title">
            Règle du serveur serveur only dust2 objectif 16K$
          </div>
          <div class="paragraph">
            Merci de respecter les règles du serveur / Please respect the server
            rules :<br /><br />
            <ul>
              <li>Bunny interdit / Bunny forbidden</li>
              <li>On annonce son retard / We annouce our delay</li>
              <li>
                Les insultes et le manque de respect est interdit / Insults and
                disrespect is prohibited
              </li>
              <li>Pas de camp spawn / No camp spawn</li>
              <li>
                Pas de camp MID après 1M45 (CT/T) / No camp mid after 1m45
              </li>
              <li>Couvrir le site est autorisé / Cover the site is allowed</li>
              <li>
                Jouer l’objectif est obligatoire / Playing the bomb is mandatory
              </li>
              <li>
                Les terroristes doivent couvrir la bombe une fois posée /
                Terrorists must cover the bomb
              </li>
            </ul>
            <br />
            Pour le site A / For site A:
            <ul>
              <li>Spawn CT interdit / Spawn CT prohibited</li>
              <li>
                Corn ne pas descendre les escaliers / Corn not going down the
                stairs
              </li>
              <li>Long jusqu’au trou / Long to the hole</li>
            </ul>
            <br />
            Pour le site B / For site B:
            <ul>
              <li>
                Ne pas descendre les escaliers B court / Do not go down stairs B
                short
              </li>
              <li>Ne pas aller extérieur B / Do not go outside B</li>
              <li>
                Ne pas descendre en dessous du palmier / Do not go under the
                palm tree
              </li>
            </ul>
            <br />
            Bon jeu et amusez vous ! Good game and have fun !
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
