<div class="header">
  <a class="logo" href="index.html">Les vieux de la vieille</a>
  <div class="menu">
    <a class="element" href="index.html">Accueil</a>
    <a class="element" href="https://vieux-de-la-vieille.forumgaming.fr/"
      >Forum</a
    >
    <a class="element" href="https://sourcebans.les-vieux-de-la-vieille.fr/"
      >Sourcebans</a
    >
    <a href="contact.html" class="element">Contact</a>
  </div>
  <a
    class="button"
    href="https://www.paypal.com/donate/?hosted_button_id=QVHPBDX7B8YTS"
    target="_blank"
    rel="noopener noreferrer"
    >Faire une donation</a
  >
</div>
